body {
  background: white;
  font-family: @fontFamily;

  h2 {
    font-size: @fontsize-header;
    color: @font-color;
  }
  p {
    font-size: @fontsize-p;
    color: @font-color;
    line-height: @font-height;
  }
}

// .home-header-container{
//     background: url("../assets/svgs/Blob\ Header.svg");

//     background-size: 50%;
// }
.rubens-section {
  padding-bottom: 163px;
  background: @veryLightGrey;
}

.header-blobber {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  // height: 1182px;

  max-width: 50%;
  // @media (max-width: 1440px) {
  //   width: 50%;
  // }
}

.home-header {
  //Ruben's CSS
  z-index: -2;
  display: flex;
  justify-content: space-between;
  padding: 3.15em 6.25em;
  background: transparent;
  bottom: -50px;

  h2 {
    font-size: 3.5rem;
    font-family: @fontFamily;
    color: @font-color;
    font-weight: bold;
  }

  .home-navigation-bar {
    //displays on click
    display: none;
  }

  .hamburger-menu-section {
    display: flex;
    align-items: center;
    z-index: 2;
    .hamburger-svg {
      width: 40px;
      height: 35px;
    }
    h3 {
      padding: 0 1.4375em;
      font-size: 1.8rem;
      font-family: @fontFamily;
      font-weight: 400;
      color: #fff;
    }
  }
}
.cta-getstarted-section {
  display: flex;
  align-items: center;

  img {
    max-width: 50%;
    z-index: 420;
    // @media (max-width: 1440px) {
    //     width: 41%;
    //     }
  }
  section {
    width: 41%;
    padding-left: 6.25em;
    padding-right: 3.3125em;
    // @media (max-width: 1440px) {
    //     padding-right: 14.3125em;
    // }
    font-family: @fontFamily;

    h2 {
      color: @font-color;
      font-weight: 600;
      padding-bottom: 25px;
      line-height: 1.5;
    }

    p {
      color: @font-color;
      line-height: 30px;
    }

    button {
      margin: 25px 0;
      border: none;
      background: #9519e8;
      border-radius: 6px;
      width: 186px;
      height: 55px;
      //
      box-sizing: border-box;
      a {
        text-decoration: none;
        text-emphasis: none;
        color: #fff;
        font-size: 2.1rem;
      }
    }
  }
}

.grey-blob {
  background-image: url("../assets/svgs/Blob\ Getting\ Started.svg");
  background-size: contain;
  background-repeat: no-repeat;
  // height: 1775px;
  //   border: 1px solid red;
}

//Section 2 Benjamin Lopez Start
.getting-started {
  // margin-top: 200px;
  padding-top: 112px;
  // background-color: red;
  /* bottom, image */
  // height: 0;
  // border: 1px solid red;
  width: 1313px;
  margin: 0 auto;

  .gs-header {
    font-family: @fontFamily;
    text-align: center;
    // border: 1px solid red;

    h2 {
      font-size: @fontsize-header;
      font-weight: bold;
      color: @font-color;
      margin-bottom: 22px;
    }

    p {
      font-size: @fontsize-p;
      width: 724px;
      text-align: center;
      padding: 20px;
      margin-bottom: 81px;
      margin-left: 250px;
      line-height: @font-height;
    }
  }
  .gs-cards {
    display: flex;
    justify-content: space-evenly;

    h2 {
      text-align: center;
      margin-top: 20px;
    }

    p {
      line-height: 23px;
      margin-top: 23px;
      color: lighten(@font-color, 10);
      text-align: center;
    }
  }

  .gs-signupcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // border: 1px solid red;
  }
  .gs-signupimg {
    width: 250px;
    height: 283.83px;
  }
  .gs-signuptxt {
    p {
      font-size: @fontsize-p;
      width: 368px;
    }
  }

  .gs-projectprepimg {
    width: 342.66px;
    height: 250px;
  }
  .gs-projectpreptxt {
    p {
      font-size: @fontsize-p;
      width: 368px;
    }
  }

  .gs-deliveryimg {
    width: 337.26;
    height: 250px;
  }
  .gs-deliverytxt {
    p {
      font-size: @fontsize-p;
      width: 368px;
    }
  }
}
//Section 2 end

.safety-first {
  display: flex;
  width: 1436px;
  height: 536px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 284px;
  margin-bottom: 186px;
  // border: 1px solid red;

  .text-section {
    width: 722px;
    height: 214px;
    line-height: @font-height;

    h2 {
      color: @font-color;
      font-family: @fontFamily;
      font-weight: bold;
      text-align: left;
    }

    p {
      padding-top: 27px;
      font-family: @fontFamily;
      text-align: left;
      font-size: @fontsize-p;
      font-weight: 300;
    }
  }

  img {
    width: 600px;
    height: 536px;
  }
}

// section-4
.reviews {
  position: relative;
  width: 1920px;
  height: 1048px;
  background: url("../assets/svgs/Blob User Reviews.svg") no-repeat;
  background-size: cover;
  background-size: contain;
  // background-attachment: fixed;
  .user-reviews {
    h2 {
      color: @font-color;
      font-size: 3.5rem;
      font-family: "Source SansPro";
      font-weight: bold;
      text-align: left;
    }
    p {
      font-family: "Source SansPro";
      text-align: right;
      font-size: 1.8rem;
    }
    .user-reviews-h {
      width: 206;
      height: 44;
      position: absolute;
      top: 232px;
      right: 252px;
    }
    .user-reviews-p {
      width: 356px;
      height: 53px;
      position: absolute;
      top: 301px;
      right: 252px;
    }
  }
  .dev-review {
    display: flex;
    position: absolute;
    height: 288px;
    width: 860px;
    bottom: 316px;
    left: 530px;
    background: white;
    .dev-review-img {
      margin: 35px;
    }
    .dev-review-text {
      margin: 35px 35px 35px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 30px;
      .dev-review-text-p {
        margin-top: 10px;
        padding: 10px;
        background: #f2f2f2;
      }
    }
  }
  .img-person {
    height: 684px;
    width: 918.57;
    margin-top: 134px;
    margin-left: 100px;
    display: inline-block;
  }
}
// section-4-end

// section-5 Jacob T

.section-5 {
  border: 1px solid red;

  .section-5-cta {
    background: white;
    text-align: center;
    padding: 15rem 0 0 0;

    p {
      padding: 0 0 1rem 0;
    }

    .blobs {
      border: 1px solid blue;
      display: flex;
      justify-content: space-between;

      .left {
        border: 1px solid green;

        img:first-child {
          border: 1px solid red;
        }
      }

      .right {
        border: 1px solid red;

        img:first-child {
          border: 1px solid red;
        }
      }
    }
  }
}

// section-5-end

// Section 6 - footer start

// Section 6 - footer-end
