.flex(@justify: center, @align: center, @wrap: wrap, @direction: row) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: @justify;
  -ms-flex-pack: @justify;
  justify-content: @justify;
  -webkit-box-align: @align;
  -ms-flex-align: @align;
  align-items: @align;
  -ms-flex-wrap: @wrap;
  flex-wrap: @wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: @direction;
  flex-direction: @direction;
}

.border() {
  border: 1px solid red;
}
