// button mixin

.button-primary(){

	color: @white;
	background: @electricViolet;

	border: none;
	border-radius: 6px;

	width: 186px;
	height: 55px;
}

.button-secondary(){

	color: @black;
	background-color: rgba(0,0,0, 0);
	
	border: 2px solid @electricViolet;
	border-radius: 6px;

	width: 186px;
	height: 55px;

}
