// =============================== Color Assignments
@text-color: @black;
@btn: @san-marino;
@hover: @white;
@footer-text: @white;

// =============================== Colors
@burnt-sienna: #f26d5a;
@san-marino: #4e72b7;
@black: #393939;
@white: #ffffff;

// =============================== Media queries
@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 750px)";
