// Colors
@blueZodiac: #43425D;
@lightSlateBlue: #6C63FF;
@veryLightGrey: ##F2F2F2;

// Font families
@fontFamily: "Source Sans Pro";

// Font Sizes
@fontsize-header: 3.5rem;
@fontsize-header-m: 1rem ;
@fontsize-p: 1.8rem;

// Variables
@font-color: @blueZodiac;
@font-cta-color: @veryLightGrey;
@font-cta-color2: @lightSlateBlue;

// Buttons

